@model  List<Luis_Cruz_Aragon.Models.ClassCliente>
@*
    ViewData["Title"] = "Pagina Principal";

}*@

<div>
    <table class="table">
   <thead class="thead-dark">
        <tr>
            <th>Nombre Cliente</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @{
        foreach(var item in Model)
        {
        <tr>
        <td>@item.Nombre</td>
        <td>@item.Direccion</td>
        <td>@item.Telefono</td>
        <td>@item.Edad</td>

        </tr>
        }
        }
    </tbody>
</table>
<a class="btn-success" asp-area="" asp-controller="Crud" asp-action="Index">Nuevo</a>
</div>
