<script>
    
  
  var DS =  [{ Genero: "Femenino"},{Genero:"Masculino" }]
  console.log(DS);
</script>
<h3>Crear Nuevo</h3>
<div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Nombre</label>
                <input id="Nombre" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Apellido</label>
                <input id="Apellido" type="text" class="form-control">
            </div>
        </div>
    </div>
        <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Telefono</label>
                <input id="Telefono" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Direccion</label>
                <input id="Direccion" type="text" class="form-control">
            </div>
        </div>
    </div>
        <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Genero</label>
               <select class="custom-select"></select>
                  
                @*<input id="Genero" type="text" class="form-control">*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Cedula</label>
                <input id="Cedula" type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
